@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}   

.video {
width:100vw;
object-fit:cover;
position:fixed;
z-index:-1;
}

.heroContent {
    overflow: hidden;
    height : auto;
}

.Chose {
    animation: fadeout 2s linear;
    height: auto;
    overflow: none;
    position: relative;
    margin-top: -150%;
    opacity:0;
    transition: margin-top 3s, opacity 4s, height 4s;
}

.notChose {
    height:auto;
    position:relative;
    overflow:hidden;
}

.neonanim {
    font-family: 'neontubes';
    position: relative;
    overflow: hidden;
    color: deeppink;
    text-align: center;
    margin-top: 50px;
    font-size: 13em;
    padding: 0.4em 0;
    margin: 0;
    margin-bottom: -80px;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 80px #ff003c, 0 0 100px #ff003c, 0 0 150px #ff003c, 0 0 200px #ff003c;
    -webkit-animation: blink 2s infinite alternate;
    animation: blink 2s infinite alternate;
}

.neonanim_2 {
    font-family: 'neontubes';
    font-size: 6em;
    text-shadow: 0 0 0 transparent, 0 0 2px #ff003c, 0 0 4px rgba(255, 0, 60, 0.5), 0 0 6px #ff003c, 0 0 8px #ff003c, 0 0 10px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
    text-align:center;
    color:white;
}

    @-webkit-keyframes blink {
        40% {
            opacity: 1;
        }

        42% {
            opacity: 0.8;
        }

        43% {
            opacity: 1;
        }

        45% {
            opacity: 0.2;
        }

        46% {
            opacity: 1;
        }
    }

    @keyframes blink {
        40% {
            opacity: 1;
        }

        42% {
            opacity: 0.8;
        }

        43% {
            opacity: 1;
        }

        45% {
            opacity: 0.2;
        }

        46% {
            opacity: 1;
        }
    }

    .buttonhero {
    text-align: center;
    align-content: center;
    }

.buth {
    font-family: 'neontubes';
    padding: 0.25em 3em;
    background: #F781F3;
    border-radius: 10px;
    margin: 0;
    font-size: 2em;
    opacity: 0.7;
    transition: all 0.5s ease;
    -webkit-animation: blink 3s infinite alternate;
    animation: blink 3s infinite alternate;
}

    .buth:hover {
        padding: 0.3em 3em;
        border-radius: 10px;
        color: black;
        margin: 0;
        font-size: 1.5em;
        background-color: deeppink;
        transition: all 0.5s ease;
    }


.stop {
    opacity: 0;
}

.start {
    display : block;
    text-transform:uppercase;
    color : white;
    z-index:3;
    position: relative;
    text-align: center;
    align-content: center;
    margin-top: -300px;
    animation: popup 3s;
}

    .start ul {
        display: grid;
        grid-template-columns: repeat(3,auto);
        list-style: none;
        text-align: center;
        align-content: center;
        margin-right: 2em;
        font-size:3em;
        margin-top: 40px;

    }

    .start li {
        height: auto;
        overflow: hidden;
    }

@keyframes popup {
    0% {
        margin-top:0;
        opacity: 0;
    }

    30% {
        margin-top: 0;
        opacity: 0;
    }

    60% {
        margin-top: 0px;
        opacity: 0;
    }

    80% {
        margin-top: -180px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

    /* Animation */

.over {
    overflow: hidden;
    height: auto;
}

.anime {
    opacity: 0;
    transform: scale(2);
    transition: transform 2s, opacity 2s;
    overflow: hidden;
    height: auto;
    z-index:2;
    animation: hv;
}

@keyframes hv {
    0% {
        height: auto;
    }

    30% {
        height: auto;
    }

    60% {
        height: auto;
    }

    99% {
        height: auto;
    }

    100% {
        height: 0;
    }
}

.NotAppear {
    display:none;
}

.Appear {
    position: relative;
    margin-top: -100px;
    z-index: 4;
    animation: up 2s linear;
    overflow:hidden;
    height:auto;
}

@keyframes up {
    0% {
        margin-top: 200px;
        opacity: 0
    }

    60% {
        margin-top: 200px;
        opacity: 0
    }

    100% {
        margin-top: -100px;
        opacity: 1;
    }
}


.column {
    float: left;
    width: 50%;
    align-content:center;
    text-align:center;
    margin-top: 2em;
}

.column img{
    width: 20%;
    margin-left: 350px;
    border-radius:50%;
}

    .column ul {
      text-align:left;
    }


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width:900px) {
    .video {
        height: 100vh;
        position:absolute;
        z-index: -1;
    }

    .neonanim {
         opacity: 0.7;
        text-align: center;
        margin-top: 110px;
        margin-bottom: 0px;
        font-size: 5.5em;
        text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 40px #ff003c, 0 0 40px #ff003c, 0 0 40px #ff003c, 0 0 40px #ff003c;
    }

    .buth {
        font-family: 'neontubes';
        padding: 0.3em 3em;
        background: #F781F3;
        border-radius: 10px;
        margin: 0;
        font-size: 1em;
    }

    .buth:hover {
        font-size: 1.5em;
    }

    .column img {
        width: 80%;
    }

    .neonanim_2 {
        font-size : 50px;
    }

    .column img {
        margin:auto;
    }

    .Appear {
        margin-top: 0px;
    }

    .row {
        margin-top: 40px;
    }

    .submenu {
        font-size : 10px;
    }
    .submenu:hover {
        background: none;
    }

    .nav-links-mobile {
        display:none;
    }

    }