.btn {
    font-family: 'neontubes';
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
    TEXT-shadow: 0 0 0 transparent, 0 0 1px #ff003c, 0 0 2px rgba(255, 0, 60, 0.5), 0 0 4px #ff003c, 0 0 8px #ff003c, 0 0 10px #ff003c, 0 0 15px #ff003c, 0 0 20px #ff003c;
    -webkit-animation: blink 2s infinite alternate;
    animation: blink 2s infinite alternate;
    background: none;
}


.btn--outline {
    padding: 8px 20px;
    border-radius: 4px;
    transition: all 0.5s ease-out;
}

.btn--medium {
    padding: 10px 40px;
    border-radius: 4px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
}